@page "/gadget"
<h3>IndexGadget</h3>

@if (GadgetModels == null)
{
    <p>Loading ....</p>
}
else
{
    <a class="btn btn-primary">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>GadgetName</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var gadget in GadgetModels)
            {
                <tr>
                    <td>@gadget.GadgetName</td>
                    <td>@gadget.Quantity</td>
                    <td>@gadget.Price</td>
                    <td>@gadget.Description</td>
                    <td>@gadget.CreatedAt.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-secondary">Update</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
